##################
# Unity ignores:
#
# !!! WARNING !!!
#
# … you MUST convert Unity to using Metafiles *before* you start using this .gitignore file,
# or you WILL lose data!
#
#####
#
# !!! WARNING !!!
#
# … don’t forget to [git add "*"] (quotes are required!) when adding new files, or git will silently ignore them
#

# OS X only (not needed on other platforms)
.DS_Store
*.swp
*.Trashes

# All platforms
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
GameProject2/cocos2d-x-2.2.2/tools/
GameProject2/cocos2d-x-2.2.2/template/
GameProject2/cocos2d-x-2.2.2/scripting/
GameProject2/cocos2d-x-2.2.2/samples/
GameProject2/cocos2d-x-2.2.2/README.mdown
GameProject2/cocos2d-x-2.2.2/plugin/
GameProject2/cocos2d-x-2.2.2/Makefile.emscripten
GameProject2/cocos2d-x-2.2.2/Makefile
GameProject2/cocos2d-x-2.2.2/make-all-linux-project.sh
GameProject2/cocos2d-x-2.2.2/licenses/
GameProject2/cocos2d-x-2.2.2/install-deps-linux.sh
GameProject2/cocos2d-x-2.2.2/external/
GameProject2/cocos2d-x-2.2.2/extensions/
GameProject2/cocos2d-x-2.2.2/Emscripten.TODO
GameProject2/cocos2d-x-2.2.2/document/
GameProject2/cocos2d-x-2.2.2/CocosDenshion/
GameProject2/cocos2d-x-2.2.2/cocos2dx/
GameProject2/cocos2d-x-2.2.2/cocos2d-wp8.vc2012.sln
GameProject2/cocos2d-x-2.2.2/cocos2d-winrt.vc2013.sln
GameProject2/cocos2d-x-2.2.2/CHANGELOG
GameProject2/cocos2d-x-2.2.2/build-win32.bat
GameProject2/cocos2d-x-2.2.2/build-nacl.sh
GameProject2/cocos2d-x-2.2.2/AUTHORS
GameProject2/cocos2d-x-2.2.2/.travis.yml
GameProject2/cocos2d-x-2.2.2/.git
GameProject2/cocos2d-x-2.2.2/.gitignore
GameProject2/cocos2d-x-2.2.2/.gitmodules
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.blackberry/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.android/
#GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.ios/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.linux/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.mac/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.marmalade/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.tizen/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.win32/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.wp8/
GameProject2/cocos2d-x-2.2.2/projects/MyGame/proj.winrt/